<div class="hero-unit">
	<h1 class="text-center"> Travel Bug!</h1>
	
	<h2>
	Would you like too...
	</h2>

	<p>
	<p>
	<%= link_to "Share a Trip", "#", class: "btn btn-primary btn-large"%>
<large> or
</large>
	<%= link_to "Plan a Trip", "#", class: "btn btn-primary btn-large" %>
	</p>
	</p>
</div>
